backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)

media_folder: "assets/uploads" # Where images get stored
public_folder: "/uploads"

collections:
  - name: "content"
    label: "Site Content"
    format: "json"
    extension: "json"
    delete: false
    editor:
      preview: false
    files:
      - name: "content"
        label: "Content JSON"
        file: "content.json"
        fields:
          - { label: "About | Bio", name: "about-bio", widget: "markdown" }
          - { label: "About | Awards", name: "about-awards", widget: "markdown" }
          - { label: "About | Images", name: "about-images", widget: "list", fields:
              [
                { label: "File", name: "file", widget: "image" },
                { label: "Caption", name: "caption", widget: "text" },
                { label: "Sort Order", name: "sorting", widget: "string" }
              ]
            }
          - { label: "Directors", name: "directors", widget: "list", fields:
              [
                { label: "Name", name: "name", widget: "string" },
                { label: "Slug", name: "slug", widget: "string" },
                { label: "Homepage | Image", name: "home-image", widget: "image" },
                { label: "Homepage | Video", name: "home-video", widget: "file" },
                { label: "Simian ID", name: "simian-id", widget: "string" },
                { label: "Awards", name: "awards", widget: "list", field:
                  { label: "Award", name: "award", widget: "string" }
                },
                { label: "Sort Order", name: "sorting", widget: "string" },
                { label: "Active?", name: "active", widget: "boolean" }
              ]
            }
          - { label: "News", name: "news", widget: "list", fields:
              [
                { label: "Title", name: "title", widget: "string" },
                { label: "Date", name: "date", widget: "string" },
                { label: "Body", name: "body", widget: "markdown" },
                { label: "Active?", name: "active", widget: "boolean" },
                { label: "Sort Order", name: "sorting", widget: "number" },
              ]
            }